<h2 class= "page-header">Search Authors</h2>
<form action = "/authors" method="GET">
    <div class=" form-item">
        <label> Name </label>
        <input type="text" name = "name" value = "<%=searchOptions.name%>">
    </div>
    <div class="btn-row form-row form-row-end">
        <button  class="btn btn-primary" type="submit">Search</button>
    </div>
</form>

<br>
<% authors.forEach(author =>{ %>
    <div class="form-row">
        <div class="form-item"><%= author.name %> </div>
        <div>
            <div class=" btn-row form-row form-row-end ">
                <a class="btn btn-primary" href="/authors/<%=author.id %>">VIEW</a>
                <a class="btn btn-primary"  href="/authors/<%=author.id %>/edit">EDIT</a>
                <%- include('../partial/deleteform',{
                    url: `/authors/${author.id}`}) %>
            </div>  
        </div> 
    </div>
            <% }) %> 
      